@model Image_Gallery.ViewModels.MediaViewModels.MediaCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CreateMediaManager</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Files" class="custom-control-label"></label>
                <input asp-for="Files" multiple />
                <span asp-validation-for="Files" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="custom-control-label"></label>
                <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Title"))">
                    <option>Select category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts { 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}